<header class="clearfix">
    <div class="top-bar py-2">
      <div class="container-xl">
        <div class="row">
          <div class="col-9">
            <ul>
              <li>
                <i class="fa fa-map-marker"></i>
                ul. J. Długosza 7, 27-600 Sandomierz |
              </li>
              <li>
                <i class="fa fa-envelope-o"></i>
                <a href="mailto:&#049;&#108;&#111;&#115;&#097;&#110;&#100;&#064;&#108;&#111;&#049;&#046;&#115;&#097;&#110;&#100;&#111;&#109;&#105;&#101;&#114;&#122;&#046;&#112;&#108;">&#049;&#108;&#111;&#115;&#097;&#110;&#100;&#064;&#108;&#111;&#049;&#046;&#115;&#097;&#110;&#100;&#111;&#109;&#105;&#101;&#114;&#122;&#046;&#112;&#108;</a> |
              </li>
              <li>
                <i class="fa fa-phone"></i>
                (15) 832-52-45
              </li>
            </ul>
          </div>
          <div class="col-3">
            <ul class="d-flex justify-content-end">
              <li>
                <a href="http://lo1.sandomierz.pl/cgarch"><i class="fa fa-archive"></i><span class="d-none d-sm-inline-flex">&nbsp;Archiwum</span></a>
              </li>
              <li>&nbsp;&nbsp;<img src="images/godlo.png" alt="Godło Rezczpospolitej" width="20" height="20"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-md">
        <div class="container-xl">

              <a class="navbar-brand" href="http://lo1.sandomierz.pl/cgarch">
                <img id="logoCG" src="images/CG_logo_2019.png" alt="Logo Collegium Gostomianum">
              </a>
              <div class="mt-auto">
                <a class="navbar-brand d-none d-lg-block logoo" href="http://lo1.sandomierz.pl/cgarch">I Liceum Ogólnokształcące<br>Collegium Gostomianum</a>
              </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Przełącz nawigację">
              <span class="fa fa-bars"></span>
              <!-- <span class="navbar-toggler-icon"></span> -->
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ms-auto">
                {{ range .Site.Menus.main }}
                {{ $text := print .Name | safeHTML }}
                  <li class="nav-link {{ .Identifier | safeHTML }}">
                    <a href="{{ .URL }}" title="{{ $text }}">{{ $text }}</a>
                  </li>
                {{ end }}
                </ul>
            </div>
        </div>
      </nav>
      </header>
